.editorial-wrap {
  padding: 3%;
  height: 100vh;
  display: flex;
  /*background-color: red;*/
  background-clip: content-box;
  position: relative;
}

.editorial-page-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editorial-panel-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .editorial-wrap {
    flex-direction: column;
    height: auto;
  }
  .editorial-page-wrap {
    width: 100%;
    margin-top: 20px;
  }
  .editorial-panel-wrap {
    width: 100%;
    margin-top: 40px;
  }
}
