.folio-wrap {
  width: 100%;
  height: 2.5%;
  border-bottom: 1px solid var(--primary-typography-color);
  font-family: georgia, 'Times New Roman', Times, serif, 'Times New Roman',
    Times, serif;
  color: var(--primary-typography-color);
  font-size: calc(var(--page-width) * 0.015);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
