.headline-wrap {
  width: 100%;
  height: fit-content;
  margin-top: 2%;
  font-family: georgia, 'Times New Roman', Times, serif;
}

.headline {
  color: rgb(40, 40, 40);
  font-size: calc(var(--page-width) * 0.037);
  font-style: italic;
  transform: scaleY(1.2);
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
}
