* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-typography-color: rgb(40, 40, 40);
}

/*body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 10px 10px;
  pointer-events: none;
  z-index: 1000;
}*/

/*chomsky*/
@font-face {
  font-family: 'chomsky';
  src: url('./assets/fonts/chomsky/Chomsky.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/*Georgia*/

@font-face {
  font-family: 'georgia';
  src: url('./assets/fonts/georgia/georgia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'georgia';
  src: url('./assets/fonts/georgia/georgia-b.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'georgia';
  src: url('./assets/fonts/georgia/georgia-i.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'georgia';
  src: url('./assets/fonts/georgia/georgia-bi.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
